<!DOCTYPE html>
<html lang="en">
{% include "polls/head.html" %}
<title>Polls</title>

<body>
    {% include "polls/top.html" %}
    <div class="container d-flex h-100 justify-content-center">
        <div class="row align-self-center">
            <div class="card bg-dark text-white" style="width: 50rem;">
                <div class="card-header">
                    Preguntas recientes
                </div>
                <div class="card-body">
                    {% if latest_question_list %}
                    <ul class="list-group">
                        {% for question in latest_question_list %}
                        <a href="{% url 'polls:detail' question.id %}">
                            <li class="list-group-item list-group-item-info d-flex justify-content-between align-items-center mx-auto"
                                style="width: 40rem;">
                                {{question.question_text}}
                                <span class="badge badge-primary badge-pill">{{question.choice_set.count}}</span>
                            </li>
                        </a>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>No hay encuestas disponibles</p>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</body>

</html>